<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="home"><i class="fa fa-home"></i> Home</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a ui-sref="about" ui-sref-active="active">About</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Data Projects <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ui-sref="sound-project">Arduino Sound Project</a></li>
            <li><a ui-sref="image-reader">Image Reader</a></li>
            <li><a ui-sref="word-chaining">Word Chainer</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">API Fun <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ui-sref="api-fun.main">Main</a></li>
            <li role="separator" class="divider"></li>
            <li><a ui-sref="api-fun.github">Github</a></li>
            <li><a ui-sref="api-fun.weather">NOAA Weather</a></li>
            <li><a ui-sref="api-fun.codewars">Codewars</a></li>
            <li><a ui-sref="api-fun.reddit">Reddit</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Other Projects <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ui-sref="to-do-list">To-Do List</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://dashboard.mattvoget.com"><b>NEW!</b> Dashboard!<i style="padding-left:5px;" class="fa fa-external-link"></i></a></li>
      </ul>
    </div>
  </div>
</nav>
<br/>