<!-- Header -->
<div class="jumboStyle jumbotron">
  <div class="container">
    <h1>Sound Project</h1>
    <p>An exploration of web development and Arduino hacking</p>
  </div>
</div>

<!-- Graph Controls -->
<div class="row">
  <div class="container">
    <div class="col-md-4">
      <div id="controlDiv" class="panel panel-primary" style="max-width:600px;">

        <div class="panel-heading">
          <h3 class="panel-title">Graph Controls</h3>
        </div>

        <div class="panel-body">
            <h4>Refresh Interval:</h4>
            <div>
              <label><input id="oneSecInt" type="radio" name="refreshInterval" ng-model="refreshIntervalValue" ng-change="toggleGraphControls()" checked="checked" value="1000">1 second</label>
            </div>

            <div>
              <label><input id="oneHundredMilliInt" type="radio" name="refreshInterval" ng-model="refreshIntervalValue" ng-change="toggleGraphControls()" value="100">100 milliseconds</label>
            </div>

            <div style="padding-top:10px">
              <label>
                <input id="autoRefreshCheckbox" type="checkbox" ng-model="refreshCheckboxValue" ng-change="toggleGraphControls()"> Auto-Refresh
              </label>
            </div>

            <div style="padding-top:10px">
              <button id="deleteSoundDataBtn" ng-click="deleteSoundData()" class="btn btn-warning">Reset Data</button>
            </div>

            <!-- Load Sample Data Button -->
            <div style="padding-top:10px">
              <button id="loadCSVDataBtn" ng-click="loadCSVData()" class="btn btn-info" title="Load a set of sample data into the graph and table">Load Sample Data</button>
            </div>
        </div>
        
      </div>

    </div>

    <div class="col-md-8">
      <div id="graphDiv"></div>
    </div>

  </div>


  <div class="container" style="padding-top:30px;">
    <!-- Sound Project Info -->
    <div class="col-md-4">
      <h2>Technologies Used</h2>
      <ul class="list-group">
        <li class="list-group-item">MongoDB</li>
        <li class="list-group-item">AngularJS</li>
        <li class="list-group-item">jQuery</li>
        <li class="list-group-item">Dygraph</li>
        <li class="list-group-item">Python</li>
        <li class="list-group-item">Arduino Uno</li>
      </ul>
    </div>
    <div class="col-md-8">
      <h2>Summary</h2>
      <p>This page can display sound data collected from my Arduino board via a Piezo transducer. The Piezo will convert a mechanical vibration to an analog signal which then passes through an ADC to output discrete values based on the frequency of vibration.</p>
      <p>When I plug the Arduino board to my computer, I can read the data on the serial port. I wrote a Python script to collect this data, and post it to an endpoint on this website at a configurable rate.</p>
      <p>Here's a snippet of the python code that collects the data</p>
      <div class="awesome codehilite">
        <p class="para0">
          <span class="p">ser</span> <span class="o">=</span> <span class="p">serial.Serial(</span><span class="ld">'COM3'</span><span class="p">,</span><span class="l">9600</span><span class="p">,</span><span class="p">timeout</span><span class="o">=</span><span class="l">0</span><span class="p">)</span>
        </p>
        <p class="para0">
          <span class="p">dataArray</span><span class="o"> = </span><span class="p">[]</span>
        </p>
        <p class="para0">
          <span class="p">count</span><span class="o"> = </span><span class="l">0</span>
        </p>
        <p class="para0">
          <span class="o">while</span> <span class="l">True</span><span class="p">:</span>
        </p>
        <p class="para1">
          <span class="p">data</span> <span class="o">=</span> <span class="p">ser.readline().rstrip().decode(</span><span class="ld">"utf-8"</span><span class="p">)</span>
        </p>
        <p class="para1">
          <span class="o">if</span> <span class="p">data</span> <span class="o">!=</span> <span class="ld">''</span><span class="p">:</span>
        </p>
        <p class="para2">
          <span class="p">dataArray.append(</span><span class="k">int</span><span class="p">(data))</span>
        </p>
        <p class="para1">
          <span class="o">else</span> <span class="p">:</span>
        </p>
        <p class="para2">
          <span class="p">dataArray.append(</span><span class="l">0</span><span class="p">)</span>
        </p>
      </div>
      <br/>
      <p>After I append serial data into the <span class="inline-code">dataArray</span> object, I send the array to a post processing function at a configurable rate. In the post processing function, I calculate the average value of the data in the array. I then send that average value to the following function: </p>
      <div class="awesome codehilite">
        <p class="para0">
          <span class="k"><em>def</em></span> <span class="na">postToWebsite</span><span class="p">(data):</span>
        </p>
        <p class="para1">
          <span class="p">postData</span><span class="o"> = </span><span class="p">{</span>
        </p>
        <p class="para2">
          <span class="ld">"frequency"</span><span class="p">: data,</span>
        </p>
        <p class="para2">
          <span class="ld">"timestamp"</span><span class="p">: datetime.datetime.now().strftime(</span><span class="ld">"</span><span class="l">%Y</span><span class="ld">-</span><span class="l">%m</span><span class="ld">-</span><span class="l">%d</span><span class="ld">T</span><span class="l">%H</span><span class="ld">:</span><span class="l">%M</span><span class="ld">:</span><span class="l">%S</span><span class="ld">.</span><span class="l">%f</span><span class="ld">"</span><span class="p">)</span>
        </p>
        <p class="para1">
          <span class="p">}</span>
        </p>
        <p class="para1">
          <span class="p">postData</span> <span class="o">=</span> <span class="p">json.dumps(postData)</span>
        </p>
        <p class="para1">
          <span class="p">url</span> <span class="o">=</span> <span class="ld">'http://www.mattvoget.com/sound-data/add-sound-data'</span>
        </p>
        <p class="para1">
          <span class="p">headers</span> <span class="o">=</span> <span class="p">{</span><span class="ld">'Content-type'</span><span class="p">:</span> <span class="ld">'application/json'</span><span class="p">}</span>
        </p>
        <p class="para1">
          <span class="p">r</span> <span class="o">=</span> <span class="p">requests.post(url,data=postData,headers=headers)</span>
        </p>
      </div>
    </div>
  </div>

<!-- Show Raw Data Button -->
  <div class="container">
    <div style="padding-top:10px; padding-left:10px;">
      <button id="toggleRawSoundDataId" ng-click="toggleSoundDataTable()" class="btn btn-info">
        {{soundTableButtonText}}
      </button>
    </div>
    <br/>
  </div>

<!-- Sound Data Table -->
<div ng-show="showSoundTable">
  <div class="container">
    <h3>Raw Sound Data:</h3>
    <div id="soundDataTable">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Frequency (Hz)</th>
            <th>Timestamp</th>
          </tr>
        </thead>
        <!-- This will be populated in the sound project controller -->
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>