<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">

    <title>Matt's Site</title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">

    <!-- Bootstrap theme -->
    <link href="/stylesheets/bootstrap-theme.min.css" rel="stylesheet">

  </head>

  <body role="document" ng-app="myApp" ng-controller="SoundInfoController">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button"
                  class="navbar-toggle collapsed"
                  data-toggle="collapse"
                  data-target="#navbar"
                  aria-expanded="false"
                  aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Hello</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li id="projectTab" class="active"><a href="#">Sound Project</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <br/>

    <!-- Header -->
    <div class="page-header">
      <h1>Sound Project</h1>
    </div>

    <!-- Sound Graph -->
    <div id="graphDiv" style="float: left;"></div>

    <!-- Graph Controls -->
    <div id="controlDiv" style="float: left; padding-left: 50px;">
      <div>
        <label>
          <input id="autoRefreshCheckbox" type="checkbox" ng-model="refreshCheckboxValue" ng-change="toggleGraphControls()"> Auto-Refresh
        </label>
      </div>
      <div style="padding-top: 15px;">
        <h4>Refresh Interval:</h4>
      </div>
      <div>
        <label><input id="oneSecInt" type="radio" name="refreshInterval" ng-model="refreshIntervalValue" ng-change="toggleGraphControls()" checked="checked" value="1000">1 second</label>
      </div>
      <div>
        <label><input id="oneHundredMilliInt" type="radio" name="refreshInterval" ng-model="refreshIntervalValue" ng-change="toggleGraphControls()" value="100">100 milliseconds</label>
      </div>
    </div>

    <!-- Sound Project Info -->
    <div id="infoDiv" style="float: left; padding-left: 50px;">
      {{ greeting }}
    </div>

    <!-- Reset Sound Data -->
    <br style="clear: both;" />
    <div style="padding-top: 20px; padding-bottom: 20px; padding-left: 50px;">
      <button id="deleteSoundDataBtn" ng-click="deleteSoundData()" class="btn btn-warning">Reset Data</button>
    </div>

    <!-- Sound Data Table -->
    <div id="soundDataTable" class="row">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Frequency (Hz)</th>
            <th>Timestamp</th>
          </tr>
        </thead>
        <!-- This will be populated in the sound project controller -->
        <tbody>
        </tbody>
      </table>
    </div>

    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="/javascripts/jquery-2.1.1.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/sound-project.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/dygraph/1.1.1/dygraph-combined.js"></script>
  </body>
</html>
