<div class="jumboStyle jumbotron">
  <div class="container">
    <h1>Word Chaining</h1>
  </div>
</div>

<div class="row">
  <div class="container">

    <!-- Description Column --> 
    <div class="col-md-8">
      <h2>Welcome to the word chainer!</h2>
      <p>
        The word chainer is an algorithm that when given a dictionary, or rather, an array of words, it will
        determine the longest consecutive chain of words such that when one character is added to a word it can
        form another word. For example, a valid chain of words could be: a, at, ate, teas, seats
      </p>
      <h2>How does it work?</h2>
      <p>
        The algorithm starts by building an object that looks like this:
        <pre>
        wordObj = {
          1:['a'],
          2:['ab','as','is','of', ...],
          3:['abs','ace','his', ...],
          ...
        }
        </pre>
        The key is the word length and its value is an array of words in the given dictionary that have that length.
      </p>
      <p>
        Next, I loop through each word in the given dictionary to find chains from that word. While determining chains, I keep adding
        to an object called usedWords that tells me if I have already used a word in a chain. If the word I'm about
        to find chains of has already been used, I don't have to waste time finding chains, since it is guaranteed to be a subset of
        another chain. For example, if I found the chain 'a','at','ate'; I know I don't need to find chains starting with 'at'.
        For details on the algorithm, refer to the <a href="https://github.com/The-Lando-System/word-chainer/blob/master/app/chainer.js">
        Word Chainer</a> and the <a href="https://github.com/The-Lando-System/word-chainer/blob/master/app/chainerHelper.js">
        Word Chainer Helper</a>
      </p>
      <h2>Complexity</h2>
      <p>
        When I arrived at my first solution, I was not checking for words already used in chains. I figured my complexity would be:
        <pre>
          O(n*k^j)
          n = length of given dictionary
          k = average number of words at a certain length
          j = number of different word lengths in the dictionary
        </pre>
        I left out the part where I loop through the characters of each word when checking for the next valid word in the chain.
        This function varies in complexity because the loop will break if the condition isn't met. With the complexity above, my
        algorithm took forever. I had to test by using a dictionary with words that were about 6 characters or less. When I introduced
        the check for words already used, it significantly improved the time. I'm guessing my complexity looked something like this:
        <pre>
          O((k-x1)^j) + O((k-x2)^j) + O((k-x3)^j) + ...
        </pre>
        Each big O represents the complexity in searching for chains for a single starting word. The x1, x2, ... is a growing number of words
        that I don't need to check, because they have already been used in a chain.
      </p>
      <h2>Future Improvements</h2>
      <ul>
        <li><strong>Parallelization:</strong> If I found chains for words in parallel threads, I could gain a speedup. I would need to cache the
            usedWords object in memory for each thread to share and atomically update</li>
        <li><strong>Faster Word Checking:</strong> There is probably a faster way for me to check if characters in word are contained in another...</li>
        <li><strong>Remove Post-Processing:</strong> I am currently building an object of all word chains and then finding the longest chain. I could
            probably compute the longest chain at the same time I build the chain to save a little time</li>
      </ul>
    </div>

    <!-- Functional Column --> 
    <div class="col-md-4">
      <h2>Test the word chainer!</h2>
      <h4>Choose a test dictionary:</h4>
      <select name="singleSelect" ng-model="dictionaryOption">
        <option value="">Full Dictionary</option>
        <option value="half">Half Dictionary</option>
        <option value="5">5 Letter Words and Less</option>
      </select>
      <br><br>
      <button ng-click="chainWords()" class="btn btn-primary">Find Word Chains</button>
      <div class="container" ng-show="loading">
        <h4>Loading...</h4>
        <p>Warning!</p>
        <p>The full dictionary will take ~15 minutes to complete!</p>
        <img src="/public/images/hex-loader2.gif" height="100" width="150">
      </div>
      <div ng-show="longestChain.chain.chainLength>0">
        <h4>The longest chain of words is {{longestChain.chain.chainLength}} words long and took {{longestChain.time}} ms.</h4>
        <ul ng-repeat="word in longestChain.chain.words">
          <li>{{word}}</li>
        </ul>
      </div>
      <div class="bg-danger" ng-show="errorMessage">
        <h4>{{errorMessage}}</h4>
      </div>
    </div>
  </div>
</div>

<div class="row" style="margin-top:10px;">
  <div class="container">
    <h2>While you wait for the chainer to finish...</h2>
    <button ng-click="getRandomWord()" class="btn btn-primary">Get a Random Word!</button>
    <h4>The Random Word is... {{ randomWord }}!</h4>
    <br>
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="findAnagrams(anagramInput)">Find Anagrams!</button>
      </span>
      <input ng-model="anagramInput" type="text" class="form-control" placeholder="Input a string of characters here...">
    </div>
    <br>
    <ul ng-repeat="anagram in anagrams">
      <li>{{anagram}}</li>
    </ul>
    <div ng-show="anagramLoading">
      <img src="/public/images/hex-loader2.gif" height="100" width="150">
    </div>
    <div class="bg-danger" ng-show="anagramError">
      <h4>{{anagramError}}</h4>
    </div>
  </div>
</div>